.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.content {
  flex: 1;
  padding-bottom: 110px;
}

.bottom-bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0; 
  z-index: 1000;
}

.transfer-container{
  padding: 20px;
  padding-top: 160px;
}
.line {
  border-bottom: 2px solid #ccc
}
.fake-input {
  border-bottom: 2px solid #ccc;
  padding: 8px 0;
  width: 100%;
  box-sizing: border-box;
  display: block;
  line-height: 20px;
  color: black;
}