/* 입금 토스트 스타일 */
.deposit-toast {
  background-color: #B8F5C2; 
  font-weight: 600; 
  font-size: 20px; 
  color: #000000;
}

/* 출금 토스트 스타일 */
.withdrawal-toast {
  background-color: #F6BEBE;
  font-weight: 600;
  font-size: 20px;  
  color: #000000;
}

/* 상품가입 토스트 스타일 */
.product-toast {
  background-color: #ccc;
  font-weight: 600;
  font-size: 20px;  
  color: #000000;
}