@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Pretendard Light';
  font-weight: 200;
  font-display: swap;
  src: local('Pretendard Light'),
    url('../src/styles/fonts/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard SemiBold';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard SemiBold'),
    url('../src/styles/fonts/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard ExtraBold';
  font-weight: 800;
  font-display: swap;
  src: local('Pretendard ExtraBold'),
    url('../src/styles/fonts/Pretendard-ExtraBold.woff') format('woff');
}
body{
  overflow-x:hidden;
  font-family:'Pretendard SemiBold' ,sans-serif;
}
/* 
html {
  overscroll-behavior: none
} */

img {
  user-select:none
}